[Desktop Entry]
Name=EmojiTwo Picker
Comment=EmojiTwo Picker Indicator
Icon=indicator-emojitwo
Exec=indicator-emojitwo
Terminal=false
Type=Application
NoDisplay=false