Source: indicator-emojitwo
Section: misc
Priority: optional
Homepage: https://github.com/ubuntu-mate/indicator-emojitwo
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 10),
               python3,
Maintainer: Martin Wimpress <code@flexion..org>

Package: indicator-emojitwo
Depends: ${python3:Depends},
         gir1.2-appindicator3-0.1,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         gir1.2-rsvg-2.0,
         python3-gi,
         python3-setproctitle,
         python3,
Architecture: all
Description: A emoji picker for the indicator area using Emoji Two
 Emoji Picker featuring several menus and a search panel.
 .
 You must paste the emojis wherever you want to use them.
